In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score

In [2]:
insurance = pd.read_csv('insurance.csv')
insurance.head()

    age     sex     bmi  children smoker     region       charges
0  19.0  female  27.900       0.0    yes  southwest     16884.924
1  18.0    male  33.770       1.0     no  Southeast     1725.5523
2  28.0    male  33.000       3.0     no  southeast     $4449.462
3  33.0    male  22.705       0.0     no  northwest  $21984.47061
4  32.0    male  28.880       0.0     no  northwest    $3866.8552

## Task #1: Clean up the data
- Are there missing values?
- Standardize categories in region
- Standardize charges data type (float)
- Standardize sex to just two categories
- Change smoker to boolean
- Standardize charges data type (float)

In [3]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1272 non-null   float64
 1   sex       1272 non-null   object
 2   bmi       1272 non-null   float64
 3   children  1272 non-null   float64
 4   smoker    1272 non-null   object
 5   region    1272 non-null   object
 6   charges   1284 non-null   object
dtypes: float64(3), object(4)
memory usage: 73.3+ KB

In [5]:
insurance_filled = insurance.dropna()
insurance_filled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1208 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1208 non-null   float64
 1   sex       1208 non-null   object
 2   bmi       1208 non-null   float64
 3   children  1208 non-null   float64
 4   smoker    1208 non-null   object
 5   region    1208 non-null   object
 6   charges   1208 non-null   object
dtypes: float64(3), object(4)
memory usage: 75.5+ KB

In [6]:
insurance_filled['region'] = insurance_filled['region'].str.lower()
insurance_filled['region'].unique()

C:\Users\ROG\AppData\Local\Temp\ipykernel_42216\634417061.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  insurance_filled['region'] = insurance_filled['region'].str.lower()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [7]:
insurance_filled['sex'].unique()

array(['female', 'male', 'woman', 'F', 'man', 'M'], dtype=object)

In [8]:
FEMALE = 'female'
MALE = 'male'
sex_map = {"F":FEMALE, 'woman':FEMALE, 'man':MALE, 'M':MALE}
insurance_filled['sex'] = insurance_filled['sex'].replace(sex_map)
insurance_filled['sex'].unique()

C:\Users\ROG\AppData\Local\Temp\ipykernel_42216\1955147474.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  insurance_filled['sex'] = insurance_filled['sex'].replace(sex_map)

array(['female', 'male'], dtype=object)

In [10]:
insurance_filled['smoker'] = insurance_filled['smoker'].str.lower()
insurance_filled['smoker'] = (insurance_filled['smoker']== "yes")

C:\Users\ROG\AppData\Local\Temp\ipykernel_42216\3976850098.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  insurance_filled['smoker'] = insurance_filled['smoker'].str.lower()
C:\Users\ROG\AppData\Local\Temp\ipykernel_42216\3976850098.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  insurance_filled['smoker'] = (insurance_filled['smoker']== "yes")

In [11]:
insurance_filled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1208 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1208 non-null   float64
 1   sex       1208 non-null   object
 2   bmi       1208 non-null   float64
 3   children  1208 non-null   float64
 4   smoker    1208 non-null   bool
 5   region    1208 non-null   object
 6   charges   1208 non-null   object
dtypes: bool(1), float64(3), object(3)
memory usage: 67.2+ KB

In [12]:
insurance_filled["charges"] = insurance_filled['charges'].str.strip("$").astype(float)
insurance_filled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1208 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1208 non-null   float64
 1   sex       1208 non-null   object
 2   bmi       1208 non-null   float64
 3   children  1208 non-null   float64
 4   smoker    1208 non-null   bool
 5   region    1208 non-null   object
 6   charges   1207 non-null   float64
dtypes: bool(1), float64(4), object(2)
memory usage: 67.2+ KB

C:\Users\ROG\AppData\Local\Temp\ipykernel_42216\135257846.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  insurance_filled["charges"] = insurance_filled['charges'].str.strip("$").astype(float)

In [13]:
insurance_pos =  insurance_filled.apply(lambda x:x.abs() if np.issubdtype(x.dtype, np.number) else x)

In [14]:
insurance_pos.to_csv('insurance_cleaned.csv', index=False)